<div class="parent">
    <app-header></app-header>
    <div class="container">
    <form (ngSubmit)="resetPass()">

        <input type="email" name="email"  placeholder="email" [(ngModel)]="email">
        <input type="password" name="newpassword"  placeholder="new password" [(ngModel)]="password" autocomplete="new-password">
        <p style="color:red" *ngIf="passworderror">{{ passworderror }}</p>


        <button type="submit">Reset Password</button>
    </form>
</div>
<app-footer></app-footer>
</div>