.subcategory-details {
    background-color: #efefef;
    width: 30%;
    text-align: center;
    margin: 10% 30%;
    border: none;
    border-radius: 10px;
    display: inline-block;
    padding: 10px;

}