span {
    color :#ffffff;
    position: relative;
    left: 40%;
}
#span2 {
    left: -1%;
}
form {
    width: 70%;
    border: 1px solid orange;
    border-bottom-color: #ffffff;
    border-left-color: #ffffff;    margin: 100px auto;
    display: flex;
    flex-direction: column;
    gap: 20px 10px;
    padding: 20px;
    align-items: center;
    height: auto;
    border-radius: 0 20px;
    font-size: 20px;



}
.parent {
    background-image: linear-gradient(to right,rgba(212, 136, 5, 0.833),white);

}
input {
    width: 60%;
    border: none;
    border-radius: 10px;
    padding: 10px;
    outline: none;

}
h1 {
    color: #ffffff;
}
button {
    color: orange;
    background-color: #ffffff;
    border: none;
    padding: 7px 50px;
    border-radius: 10px;
    transition: transform 0.3s , background-color 0.3s;
}
button:hover {
    transform: scale(1.05);
    color: #ffffff;
    background-color: orange;
}
input:focus {
    border: 2px solid orange;
}