<div class="parent">
    <app-header></app-header>
  <form  (ngSubmit)="update()">
  <input type="password" placeholder="currentpassword" [(ngModel)]="currentpassword" name="HomeDetails" >
  <input type="password" placeholder="password" [(ngModel)]="password" name="phone" autocomplete="new-password">
  <p *ngIf="passworderror" style="color: red;">{{passworderror}}</p>
  <input type="password" placeholder="repassword" [(ngModel)]="repassword" name="city" >
  <p *ngIf="repassworderror" style="color: red;">{{repassworderror}}</p>

<button type="submit">submit</button>

  
  
</form>

<app-footer></app-footer>
</div>