<footer>
    <div class="map-link">
        <div class="map">
            <iframe 
                    src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3456.31827499402!2d31.23571121511717!3d30.044419981879627!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1234567890abcdef!2sCairo%2C%20Egypt!5e0!3m2!1sen!2seg!4v1691410950735!5m2!1sen!2seg"
                    width="70%" height="300" style="border:0;" allowfullscreen="" loading="lazy"
                    referrerpolicy="no-referrer-when-downgrade">
            </iframe>

        </div>
        <div class="link">
            <ul >
                <li>Quik Links</li>
                <li routerLink="/allproducts">All Products</li>
                <li routerLink="/cart">Cart</li>
                <li routerLink="/wish">wish List</li>
                <li routerLink="/allbrands">Brands</li>
            </ul>
            <ul >
                <li>Quik Links</li>
                <li>All Products</li>
                <li>Cart</li>
                <li>wish List</li>
                <li>Brands</li>
            </ul>
        </div>
    </div>
    <div class="visa">
        <div class="first">
            <i class="fab fa-cc-visa fa-2x"></i>
  <i class="fab fa-cc-mastercard fa-2x"></i>
  <i class="fab fa-cc-paypal fa-2x"></i>
        </div>
        <div class="second">
             <img src="googleplay.png" alt="Google Play">
  <img src="store2.png" alt="App Store">
        </div>
    </div>
</footer>